@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: poppins;
}

.name-nav:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.font {
  font-family: poppins;
  letter-spacing: 1px;
}

.box:hover {
  transition: 0.4s ease all;
  transform: scaleY(1.01);
  box-shadow: 2px 0px 20px 3px gray;
  border: 2px solid #070504;
}
.box {
  border-radius: 10px;
  margin: auto;
}
.headings {
 
  font-size: 1.5rem;
}
.inputs:hover {
  box-shadow: 2px 0px 9px 1px #dbd5d5;
  border: 2px solid #2e2018;
}

.icon {
  border: 2px solid rgb(92, 88, 104);
  border-radius: 50%;
  padding: 3px;
  font-size: 2.4rem;
  transition: 0.3s ease;
}
.icon:hover {
  transform: translateY(-8px);
  border-radius: 50%;
  box-shadow: 2px 0px 10px 2px #2c6452;
}
.foot-icon {
  background-color: black;
  padding: 5px;
  border-radius: 50%;
  font-size: 1.5em;
  color: white;
  transition: 0.3s ease;
}
.foot-icon:hover {
  transform: translateY(-5px);
  box-shadow: 2px 0px 10px 2px #ffffff;
  border-radius: 50%;
}
.img {
  border-radius: 50%;
  box-shadow: 0 20px 90px 3px rgb(43, 43, 48);
  border: 2px solid rgb(214, 205, 205);
  padding: 10px;
  border: 4px solid rgb(218, 205, 205);
  transition: 0.3s ease-in;
}
.img:hover {
  cursor: pointer;
  box-shadow: 0 0px 50px 16px rgb(0, 0, 0);
  scale: 1.03;
}



.line:hover {
  border-bottom: 2px solid rgb(69, 87, 114);
  color: #c0c0c0;
}

@keyframes name {
  0% {
    width: 1%;
  }
  100% {
    width: 70%;
    border-bottom: 2px solid rgb(214, 213, 223);
  }
}

.shadow {
  transition: 0.3s ease-in;
}

.shadow:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0px 30px 5px rgb(60, 152, 209);
  border: 4px solid rgb(126, 126, 184);
}

.button {
  border-radius: 10px;
  background-color: rgb(51, 55, 59);
  padding: 6px 34px;
  font-size: 1.3rem;
  transition: 0.4s ease;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 0px 10px 2px rgb(255, 255, 255);
}

@media (max-width: 767px) {
  #menu-icon {
    display: block;
    position: absolute;
    top: 5px;
    padding: 20px;
    right: 20px;
    color: white;
  }
  #menu-icon {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #ffffff;
  }
  .navs li{
    transition: 0.3s ease;
    border: 2px solid transparent;
  }
  .navs li:hover {
    color: gray;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
 

 
  .name-logo {
    text-align: center;
    margin-top: 10px;
    color: #a2ffc7;
  }
  .btn {
    display: none;
    padding: 3px;
    font-size: 1rem;
  }
}

@media (min-width: 290px) and (max-width: 396px) {
  .footer-text {
    margin-top: 7px;
  }
  .footer-text a {
    margin-left: 0;
    text-align: center;
    font-size: 15px;
    transition: 0.3s ease;
  }
  .para{
    padding: 0;
  }
}

.animate {
  animation: animation 0.8s forwards linear;
  filter: blur(20px);
  transform: translateY(20px);
}

@keyframes animation {
  to {
    transform: translateY(0px);
    filter: blur(0);
  }
 
}